body {
    background-image: url('images/skyline.jpg');
    text-align: center;
    padding-top: 10px;
    margin-top: -10px;
    font-family: FreightSans Medium,Avenir Next;
    background-attachment: fixed;
    background-position: center center;
}

#mapwrapper {
    box-shadow:inset: 0 0 10px #000;
    width: 100%;
    height: 350px;
    background-color: #f00;
    z-index: 100;
    position: relative;
}

#map-canvas {
    height: 350px;
    width: 100%;
    /*float: right;
    border: 3px solid #ccc;*/
}

#container input.query {
    font-size: 12pt;
    /*text-transform:uppercase;*/
    width: 100%;
    height: 20px
    color: #666;
    text-align: left;
    background: none;
    padding: 5px;
    box-shadow: none;
    font-family: FreightSans Medium,Avenir Next;
    border: 0 solid #000;
}

#container input.submit {
    width: 90px;
    height: 40px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #ff0000;
    background-image: url('images/button_grad.png');
    border: none;
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
    font-size: 14pt;
    text-align: center;
    border-width: 0px;
    margin: 0px;
}

#container input.submit:hover {
    background-color: #ee0000;
}

td.submit_button {
    width: 90px;
    padding: 0;
    margin: 0;
    border: 0 solid #111;
}

table#login {
    margin:  -50px auto 0;
    border-radius: 25px;
    padding: 15px;
    text-align: left;
}

tr.login_row {
    display: table;
    padding: 0;
    border: 5px solid #ccc;
    border-bottom: none;
    background-color: #ccc;
    text-align: left;
    font-size: .8em;
}

tr.first {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

tr.last {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid #ccc;
}

tr.first .input {
    border-top-right-radius: 5px;
}

tr.first .label {
    border-top-left-radius: 5px;
}

tr.last .input {
    border-bottom-right-radius: 5px;
}

tr.last .label {
    border-bottom-left-radius: 5px;
}

input.login_field {
    margin: 0;
    padding: 0;
    width: 225px;
    border: 0;
    background-color: #eee;
    box-shadow: 0 0 7px inset;
}

input.login_field:focus {
    box-shadow: 0 0 7px #12435c inset;
}

tr.login_row td.label {
    background-color: #eee;
    font-weight: bold;
    color: #000;
    padding: 5px;
    width: 150px;
    font-size: 1.2em;
}

tr.login_row .input {
    padding: 5px;
    font-family: FreightSans Medium,Avenir Next;
    font-size: 12pt;
}

#container #login .submit {
    margin-top: 10px;
    height: 30px;
    width: 100px;
    border-radius: 7px;
}

#tb {
    vertical-align: middle;
    width: 550px;
    height: 35px;
    background-color: #eee;
    border-radius: 10px;
    margin: 0 auto;
    border: 3px solid #ccc;
    padding: 0;
/*box-shadow: 0px 0px 10px #000;*/
}


td.textfield {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 8px #000 inset;
}

td.textfield:hover {
    box-shadow: 0 0 8px #0b2735 inset;
}
#re {
	vertical-align: middle;
	padding: 0px;
	margin: 0 auto;
	/*box-shadow: 0px 0px 10px #000;*/
}

#text {
	width: 550px;
	
}

#container {
	margin: -20px auto;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	/*border-color: #ccc;
	border-width: 8px;
	border-style: solid;*/
	background-color: #0af;
	background-image: url('images/gradient.jpg');
	height: 100%;
	width: 700px;
	box-shadow: 0px 0px 25px #000;
	position:relative;
	animation:mymove 5s 1s infinite;
	-webkit-animation:mymove 2s 1;
	animation-timing-function:cubic-bezier(0,0,0.25,1);
	-webkit-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
}

#container2 {
    margin: -20px auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /*border-color: #ccc;
      border-width: 8px;
      border-style: solid;*/
    background-color: #ebebeb;
    height: 100%;
    width: 75%;
    box-shadow: 0px 0px 25px #000;
    position:relative;
    text-align: left;
    padding: 0;
    font-size: 12pt;
}

#content {
    padding: 75px 25px 25px 275px;
    text-align: justify;
}

#adjust {
	width: 200px;
	background-color: #ebebeb;
	float: left;
	position:fixed;
	top: 50px;
	padding: 0 25px 25px;
	z-index: 9;
	text-align: left;
	border-bottom-right-radius: 25px;
	border-right: solid 5px #bbb;
	border-bottom: solid 5px #bbb;
}

#bar {
	width: 100%;
	height: 50px;
	margin: 0;
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-image: url('images/gradient-mini.jpg');
	box-shadow: 0px 0px 25px #000;
	font-size: 10pt;
}

.activity img {
    position: relative;
    float: right;
    /*right: -100px;
    -webkit-transform:rotate(12deg);*/
    border-radius: 15px;
    margin-left: 25px;
    box-shadow: 0 0 25px #000;
}

@keyframes mymove {
from {top:0px;}
to {top:-100%px;}
}

@-webkit-keyframes mymove {
from {top:-450px;}
to {top:0px;}
}

.slide {
	width: 100px;
}
#adjust h3 {
	border-bottom: solid 3px #bbb;
}

#adjust h5 {
	color: #136f9d;
	padding: 0;
	margin: 10px 0;
}

.activity {
    clear: both;
}

.activity h2 {
    border-bottom: 3px solid #ccc;
    margin-bottom: 0;
}

.activity h3 {
    margin: 0;
    color: #666;
    font-weight: normal;
}